:root{
    --white: #ffffff;
    --primary: #F59E0B;

}

.title{
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
}

html{
font-size: 62.5%
}

body{
    background-image: url("/bg_clima.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--white);
    font-size: 2rem;
}